@font-face {
    font-family: 'ALKBasri-Light';
    src: url('../fonts/alkbasri-light-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/alkbasri-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alkbasri-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alkbasri-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/alkbasri-light-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alkbasri-light-webfont.svg#alkbasri-lightregular') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'IndieFlower';
  src: url('../fonts/IndieFlower.eot');
  src: url('../fonts/IndieFlower.eot?#iefix') format('embedded-opentype'),
       url('../fonts/IndieFlower.svg#IndieFlower') format('svg'),
       url('../fonts/IndieFlower.ttf') format('truetype'),
       url('../fonts/IndieFlower.woff') format('woff'),
       url('../fonts/IndieFlower.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

