
@import url("https://cdn.web-fonts.ge/fonts/archyedt-thin/css/archyedt-thin.min.css");

body{
	padding: 30px;
}

.title{
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 30px;
	font-family: 'Indie Flower', cursive;
}
.poto{
	height: 130px;
	display: inline-block;
	vertical-align: middle;
}
.text{
	display: inline-block;
	width: 355px;
	margin-left: 50px;
	vertical-align: middle;
	font-family: 'IndieFlower';
}
.item{
	display: inline-block;
	width: 670px;
	background-color: #F2F2F2;
	padding:15px;
	margin-right: 30px;
}
.title-h5{
	color: #3D58A6;
	font-size: 22px;
	margin-bottom: 15px;
}
.parapgrap{
	font-family: "ArchyEDT-Thin", sans-serif;
	font-size: 40px;
}
.text1{
	font-size: 40px;
	font-family: 'ALKBasri-Light';
}